input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.hidden{display:none;}
.clear{height:0; font-size:0; overflow:hidden; line-height:0; visibility:hidden; clear:both;}
/*.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clear {
	display: inline-block;
}
html[xmlns] .clear {
	display: block;
}
* html .clear {
	height: 1%;
}*/
.icon {
    background-image: url("../img/icons.png");
    float: left;
    height: 16px;
    overflow: hidden;
    width: 16px;
}
.grid .head div{background:none;}
.grid .head .title{background:#eee;}
.grid{width:100%; position:relative; overflow:hidden; overflow-x:auto; margin-top:20px;}
.grid .main { overflow-x: auto; overflow-y: hidden; color: #000; width:98%; margin:0 auto; padding:0;}
.grid .head {
	float: left; white-space: nowrap; height: 26px; line-height: 26px;
	overflow: hidden; padding: 0; background:none;
}
.grid .head input { float: left; display:inline; margin:0;  border-radius:0; box-shadow: none; }
.grid .head input:focus { float: left; display:inline; margin:0;  border-radius:0; box-shadow: none; }
.grid .main .body { overflow: hidden; }
.grid .main .body .tt .tr { white-space: nowrap; display: block; width:110%; }
.grid .th,.td {
	white-space: nowrap; display: inline-block; cursor: default;
	overflow: hidden; border: 1px solid #ccc; float:left;
}
.grid .th div,.td div{zoom:1;}
.grid .tt {
	border-right: 1px solid #ddd; overflow-x: hidden; overflow-y: hidden;
}
.grid .td {
	background-color: #FFF; height: 24px; line-height: 24px; border: 1px solid #FFF;
	vertical-align: middle; border-bottom: 1px solid #ddd; padding-left: 2px;
	border-left: 1px solid #ddd; padding-right: 1px; border-top: none; zoom:1;
}
.grid .td .td { background-color: transparent; }
.grid .tr.selected .td { background-color: #FBEC88; }
.grid .th {
	font-weight: bold; text-align: center; height: 24px; line-height: 24px;
	border-right: 1px solid #ccc; -moz-user-select: none;
	color: #333; vertical-align: middle; background-color: #EBEBEC;
	position:relative;
}
.grid .ybar { width: 18px; float: right; overflow-y: auto; margin-top: 24px; }
.grid .td input { float: left; display:inline;display:inline; margin:0;  border-radius:0; box-shadow: none; border:#CCC solid 1px;}
.grid .td input.cellTf{height:16px; line-height:16px; margin:2px 0; width:95%}
.grid .td input.cellNf{text-align: right;}
.grid .sort { float: right; height: 22px; padding-top: 2px; border-left: 1px solid #ccc; }
.grid .sort:hover { background-color: #ccc; }
.grid .sizer {
	cursor: e-resize; width: 2px; float: right; height: 24px;
	position: absolute;
	top:0; right:0;
}
.grid .dropable { background-color: #EEE; }
.grid .title { overflow: hidden; }
.grid .title:hover { background-color: #ccc; }
.grid .h1 { background-color: #CEE3F6; }
.grid .h2o { background-color: #EFF5FB; }
.grid .h2e { background-color: #EFEFFB; }

.dragHelper {
	border: 1px dashed #DDD; background-color: #FFF; position: absolute;
	padding: 2px 4px 2px 4px; float: left; z-index: 99;
}

.pager { margin-top: 8px; height: 24px; }
.pager .pageNo { margin: 2px 2px; padding: 2px; border: 1px solid transparent; }
.pager .pageNo[action]:hover { border: 1px solid #DDD; }
.pager .button {
	height: 24px; line-height: 24px; padding: 4px 8px; cursor: pointer; border: 1px solid #DDD;
}
.pager input { margin: 0 4px 0 12px; width: 40px; }
[action] {
    color: #333399;
    cursor: pointer;
}
.money{ text-align:right;}
.numCenter{text-align:center;}

.icon-triangle-1-s {
    background-position: -64px -16px;
}

.combo .head {
	border: 1px solid #CCC; background: #FFF; overflow: hidden;
}
.combo .head input {
	background-color: transparent; border:none; width: 100%; padding:0; box-shadow:none;
}
.combo .head .btn { position: relative; float: right; border-left: 1px #CCC solid; }

.combo .body {
	border-right: 1px solid #CCCCCC; float: left; z-index: 99999;
	position: absolute; background: #FFF; overflow-y: auto; overflow-x: hidden;
}
.combo .tr { white-space: nowrap; display:block; width: 100%; }
.combo .td {
	white-space: nowrap; display: inline-block;
	cursor: default; overflow: hidden; background-color: #FFF;
	height: 24px; line-height: 24px; vertical-align: middle;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-top: none;
}
.combo .tr:hover .td { background-color: #FBCC88; }
.combo .tr.selected .td { background-color: #FBEC88; }
.grid .th input.guid_checkbox{margin:5px 3px;}
.grid .td input.guid_checkbox{margin:5px 2px;}