@CHARSET "UTF-8";

.pad-l {
	padding-left: 0;
}

.pad-r {
	padding-right: 0;
}

.tool-pos {
	padding-left: 0;
	padding-right: 0;
}

.tool-pos div {
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
}

.tool-lists {
	background: #D42B2E !important;
	position: relative;
}

.tool-list {
	background: #EABF00;
	border-bottom: 1px solid #f9f9f9;
	position: relative;
}

.icon-sort {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/icon-sort.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

.icon-add {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/icon-add.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

.icon-jian {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/icon-jian.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

.icon-set {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/icon-set.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

.icon-close {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/icon-close.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

.tool-first-tabs {
	background: #2AA6D9;
	position:relative;
	overflow:hidden;
}

.tool-first-tab, .tool-second-tab {
	height: 60px;
	
}
.tool-first-tab-1{
	margin-left: 0px;
	margin-right:80px;
	height: 60px;
	line-height:60px;
}
.tool-second-tab-1{
	height: 60px; 
}
.tool-second-tab-1sa{
	margin-left: 0px;
	margin-right:80px;
}
.tool-first-tabAll,.tool-second-tabAll{
	height:60px;
	position:absolute;
	left:80px;
	top:0;
	right:80px;
} 

.tool-first-tabs .tool-first-tabAll div {
	float: left;
	width: 110px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	height:60px;
	line-height:60px;
}

.tool-first-tabs .tool-first-tabAll div.cur {
	background:#3567A6;
}
 
.tool-first-tab-1 div {
	float: left;
	width: calc(100%/6);
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.tool-first-tab-1s{
	overflow:hidden;
	padding-left:80px;
}
.tool-first-tab-1s div{
	float: left;
	width: calc(100%/6);
	text-align: center;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	height:60px;
	line-height:60px;
}

.tool-first-tab-1 div.cur,.tool-first-tab-1s div.cur {
	background: #3567A6;
} 

.tab-left-more {
	float: right;
	width: 80px;
	position: relative;
}

.tool-second-tabs {
	background: #3567A6;
	position: relative;
    overflow: hidden;
}

.tool-second-tabs .tab-right {
	position: absolute;
	right:0;
	top:0;
	width:80px;
	height:60px;
	z-index:20;
	background:#3567A6; 
}

.tool-second-tabs .tab-left {
	position: absolute;
	left:0;
	top:0;
	width:80px;
	height:60px;
	z-index:20;
    background:#3567A6; 
	
}

.tool-second-tab-1s{
	overflow:hidden;
}
.tool-second-tab {
	display: none;
}

.tool-second-tab.cur {
	display: block;
}
.tool-second-tab-1.cur {
	display: block;
}

.tool-second-tabAll div {
	float: left;
	text-align:center;
	height: 60px;
	line-height: 60px;
	width: 110px;
}
.tool-second-tab-1 div {
	float: left;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	width: calc(100%/6);
}
.tool-second-tab-1s div{
	float: left;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	width: calc(100%/6);
}
.tool-second-tab-1sa{
	display:none;
}
.tool-second-tab-1sa.cur{
	display:block;
}
.tool-second-tab div a {
	color: #fff;
}
.tool-second-tab-1 div a {
	color: #fff;
}
.tool-second-tab-1s div a {
	color: #fff;
}

.tool-second-tab div.cur a {
	padding-bottom: 2px;
	border-bottom: 1px solid #fff;
}
.tool-second-tab-1 div.cur a {
	padding-bottom: 2px;
	border-bottom: 1px solid #fff;
}
.tool-second-tab-1s div.cur a {
	padding-bottom: 2px;
	border-bottom: 1px solid #fff;
}

.tool-content-main {
	padding: 5px 0 5px 5px;
	width: 100%;
	display: none;
}

.tool-content-main.cur {
	display: block;
}

.tool-content-main-box {
	float: left;
	width: calc(( 100% - 20px)/5);
	width: -moz-calc(( 100% - 20px)/5);
	height: 100px;
	background: #e2e2e2;
	position: relative;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.tool-content-main-box:nth-child(5n) {
	margin-right: 0px;
}

.tool-content-main-box div{text-align:center;}

.box-price {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

.tool-content-main {
	overflow: hidden;
}

.content-tab-btn {
	overflow: hidden;
	margin-top: 20px;
}

.left-btn {
	float: left;
	width: 50%;
	text-align: center;
}

.right-btn {
	float: right;
	width: 50%;
	text-align: center;
}

.left-btn i {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/left-btn.png)
}

.left-btn i.cur {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/left-btn-cur.png)
}

.right-btn i {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/right-btn.png)
}

.right-btn i.cur {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/right-btn-cur.png)
}

.tool-first-tabs .tab-right {
	position: absolute;
	right:0;
	top:0;
	width:80px;
	height:60px;
	z-index:20;
	background:#2AA6D9;
}

.tool-first-tabs .tab-left {
	position: absolute;
	left:0;
	top:0;
	width:80px;
	height:60px;
	z-index:20;
	background:#2AA6D9;
	
}

.tab-left i.backward_disabled {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/left-false.png);
	position: absolute;
	top: 15px;
	left: 25px;
}
.tab-left i.backward{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/left-true.png);
	position: absolute;
	top: 15px;
	left: 25px;
}

.tab-right i.forward {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/right-true.png);
	position: absolute;
	top: 15px;
	left: 25px;
}
.tab-right i.forward_disabled {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/right-false.png);
	position: absolute;
	top: 15px;
	left: 25px;
}

.tab-left-more i {
	display: inline-block;
	width: 25px;
	height: 25px;
	background:url(../img/icon-pos/icon-sort.png);
	background-size:25px;
	position: absolute;
	top: 15px;
	left: 25px;
}

.tool-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.tool-count {
	overflow: hidden;
	margin-top: 5px;
}

.tool-count-l {
	float: left;
	width: 80%;
}

.tool-count-r {
	float: right;
	width: 20%;
}

.tool-count-r .jiesuan {
	height: 115px;
	background: #3567A6;
	text-align: center;
	line-height: 115px;
	font-size: 16px;
	margin-bottom: 5px;
	color: #fff;
}

.tool-count-r .yingyep {
	height: 35px;
	background: #24C6B9;
	text-align: center;
	line-height: 35px;
	font-size: 16px;
	color: #fff;
}

.tool-count-l .js-btn {
	float: left;
	width: calc(( 100% - 20px)/4);
	width: -moz-calc(( 100% - 20px)/4);
	height: 35px;
	margin-bottom: 5px;
	background: #a9a9a9;
	margin-right: 5px;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	color: #fff;
}

.tool-bar {
	height: 20px;
	background: #65BBEC;
	position: relative;
}

.icon-down {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/icon-pos/icon-up.png);
	background-size: 20px; transform : rotate( 180deg);
	position: absolute;
	top: 0px;
	left: 50%;
	transform: rotate(180deg); position : absolute; top : 0px; left : 50%;
	margin-left: -10px;
}

.icon-down.up {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/icon-pos/icon-up.png);
	background-size: 20px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -10px;
	transform: rotate(0deg);
}

.tool-js {
	height: 50px;
	line-height: 50px;
	background: #2AA6D9;
	width: 100%;
}

.tool-js-msg {
	float: left;
	width: 33%;
	padding-left: 10px;
	font-size: 16px;
}

.tool-js-msg span {
	color: #BA485F;
	font-weight: 700;
}

.tool-header {
	height: 60px;
	background: #2AA6D9;
}

.tool-header img {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

.tool-header-msg {
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	color: #fff;
}

.tool-search {
	position: relative;
}

.tool-search input {
	width: 100%;
	height: 40px;
	background: #3567A6;
	border: none;
	color: #fff;
	padding-left: 10px;
}

.tool-search-box {
	width: 38px;
	height: 38px;
	background: #2AA6D9;
	position: absolute;
	right: 1px;
	top: 1px;
}

.icon-search {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/icon-pos/icon-search.png);
	margin-top: 3px;
	margin-left: 3px;
}

.pro-head {
	height: 30px;
	line-height: 30px;
	background: #e6e6e6;
	width: 100%;
}

.pro-head .pro-head-msg {
	width: calc(100%/ 6);
	float: left;
	padding-left: 20px;
}

.tool-goods dl {
	overflow: hidden;
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 0px;
}

.tool-goods dl.cur dt {
	background: #2B832F;
}

.tool-goods dl dt {
	width: calc(100%/ 6);
	float: left;
	height: 45px;
	line-height: 45px;
	background: #C4C2C3;
	text-align: center;
}

.tool-goods dl.cur dd {
	background: #E4EEE5;
}

.tool-goods dl dd {
	float: left;
	width: calc(100%/ 6 * 5);
	width: -moz-calc(100%/ 6 * 5);
	
}

.tool-goods dl dd {
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}

.tool-goods dl .first-dd div.left {
	float: left;
	width: 50%;
}

.tool-goods dl .first-dd div.right {
	float: right;
	width: 50%;
	text-align: right;
	padding-right: 10px;
}

.tool-goods dl dd div {
	float: left;
	width: calc(100%/ 5);
	width: -moz-calc(100%/ 5);
}
.tool-content-main-box .box-orprice{
	text-decoration:line-through;
	position:absolute;
	bottom:10px;
	left:40%;
}
.tool-content-main-box .box-prices{
	position:absolute;
	bottom:10px;
	left:10px;
}
.tool-content-main-box .subtotal{
	position:absolute;
	bottom:10px;
	right:10px;
}
.ui-dialog-content .vip-msg {text-align:center;line-height:100px;}
.ui-dialog-content .vip-msg input[type="button"]{height:27px;background:#2AA6D9;color:#fff;cursor:pointer;line-height:25px;border:1px transparent solid;}
.num-key{width:407px;height:200px;position:absolute;top:450px;left:50%;z-index:9999;background:#fff;border-radius:5px;padding:15px;border:1px solid #e9e9e9;margin-left:-200px;}
.num-key .key-n{float:left;width:118px;margin-right:10px;margin-bottom:10px;height:35px;line-height:35px;background:#a9a9a9;text-align:center;color:#fff;}
.num-key .key-n:nth-child(3n){margin-right:0;}
.num-key i.close_box{position:absolute;top:0;right:5px;}







