@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?cc784a');
    src:    url('fonts/icomoon.eot?cc784a#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?cc784a') format('truetype'),
        url('fonts/icomoon.woff?cc784a') format('woff'),
        url('fonts/icomoon.svg?cc784a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconfont-picking:before {
    content: "\e9b4";
}
.icon-iconfont-seperate-logistics:before {
    content: "\e9b5";
}
.icon-iconfont-seperate-warehouse:before {
    content: "\e9b6";
}
.icon-iconfont-audit:before {
    content: "\e9b0";
}
.icon-iconfont-dosettlement:before {
    content: "\e9b1";
}
.icon-iconfont-export:before {
    content: "\e9b2";
}
.icon-iconfont-generate_settlement:before {
    content: "\e9b3";
}
.icon-iconfont-activity:before {
    content: "\e900";
}
.icon-iconfont-addressInfo:before {
    content: "\e901";
}
.icon-iconfont-advertisement:before {
    content: "\e902";
}
.icon-iconfont-advertisePlace:before {
    content: "\e903";
}
.icon-iconfont-advisory:before {
    content: "\e904";
}
.icon-iconfont-advisoryType:before {
    content: "\e905";
}
.icon-iconfont-authority:before {
    content: "\e906";
}
.icon-iconfont-base:before {
    content: "\e907";
}
.icon-iconfont-billCodeRule:before {
    content: "\e908";
}
.icon-iconfont-billTypeCategory:before {
    content: "\e909";
}
.icon-iconfont-bindProduct:before {
    content: "\e90a";
}
.icon-iconfont-brandAptitude:before {
    content: "\e90b";
}
.icon-iconfont-bulletin:before {
    content: "\e90c";
}
.icon-iconfont-businessCategory:before {
    content: "\e90d";
}
.icon-iconfont-businessLog:before {
    content: "\e90e";
}
.icon-iconfont-cashGiftConfig:before {
    content: "\e90f";
}
.icon-iconfont-cms:before {
    content: "\e910";
}
.icon-iconfont-cmsArticle:before {
    content: "\e911";
}
.icon-iconfont-cmsColumn:before {
    content: "\e912";
}
.icon-iconfont-cmsColumnGroup:before {
    content: "\e913";
}
.icon-iconfont-comment:before {
    content: "\e914";
}
.icon-iconfont-commission:before {
    content: "\e915";
}
.icon-iconfont-commissionRecord:before {
    content: "\e916";
}
.icon-iconfont-config:before {
    content: "\e917";
}
.icon-iconfont-coupon:before {
    content: "\e918";
}
.icon-iconfont-couponPlan:before {
    content: "\e919";
}
.icon-iconfont-couponValidatePeriod:before {
    content: "\e91a";
}
.icon-iconfont-couponValue:before {
    content: "\e91b";
}
.icon-iconfont-crowdFunding:before {
    content: "\e91c";
}
.icon-iconfont-currencyType:before {
    content: "\e91d";
}
.icon-iconfont-dealOrder:before {
    content: "\e91e";
}
.icon-iconfont-dealRecord:before {
    content: "\e91f";
}
.icon-iconfont-deliverGoods:before {
    content: "\e920";
}
.icon-iconfont-deliveryAddress:before {
    content: "\e921";
}
.icon-iconfont-deliveryByOrderBatch:before {
    content: "\e922";
}
.icon-iconfont-deliveryTemplate:before {
    content: "\e923";
}
.icon-iconfont-department:before {
    content: "\e924";
}
.icon-iconfont-dimension:before {
    content: "\e925";
}
.icon-iconfont-dispatchAndPay:before {
    content: "\e926";
}
.icon-iconfont-dispatchType:before {
    content: "\e927";
}
.icon-iconfont-distribution:before {
    content: "\e928";
}
.icon-iconfont-distributionWareHouseConfig:before {
    content: "\e929";
}
.icon-iconfont-ec:before {
    content: "\e92a";
}
.icon-iconfont-ecCommentStatistic:before {
    content: "\e92b";
}
.icon-iconfont-ecConfig:before {
    content: "\e92c";
}
.icon-iconfont-ecCustomer:before {
    content: "\e92d";
}
.icon-iconfont-ecCustomerIcon:before {
    content: "\e92e";
}
.icon-iconfont-ecCustomerLevel:before {
    content: "\e92f";
}
.icon-iconfont-ecCustomerSign:before {
    content: "\e930";
}
.icon-iconfont-ecCustomerStatistic:before {
    content: "\e931";
}
.icon-iconfont-ecCustomerTag:before {
    content: "\e932";
}
.icon-iconfont-ecInvoiceDetail:before {
    content: "\e933";
}
.icon-iconfont-ecShopWxNumber:before {
    content: "\e934";
}
.icon-iconfont-employee:before {
    content: "\e935";
}
.icon-iconfont-enumeration:before {
    content: "\e936";
}
.icon-iconfont-enumerationCategory:before {
    content: "\e937";
}
.icon-iconfont-errorLog:before {
    content: "\e938";
}
.icon-iconfont-exploreRecord:before {
    content: "\e939";
}
.icon-iconfont-expressDeliveryTemplate:before {
    content: "\e93a";
}
.icon-iconfont-favorite:before {
    content: "\e93b";
}
.icon-iconfont-groupPurchase:before {
    content: "\e93c";
}
.icon-iconfont-help:before {
    content: "\e93d";
}
.icon-iconfont-helpCategory:before {
    content: "\e93e";
}
.icon-iconfont-home:before {
    content: "\e93f";
}
.icon-iconfont-homeNavigation:before {
    content: "\e940";
}
.icon-iconfont-import:before {
    content: "\e941";
}
.icon-iconfont-indiana:before {
    content: "\e942";
}
.icon-iconfont-industry:before {
    content: "\e943";
}
.icon-iconfont-information:before {
    content: "\e944";
}
.icon-iconfont-InputFirstExpressNo:before {
    content: "\e945";
}
.icon-iconfont-integralRule:before {
    content: "\e946";
}
.icon-iconfont-inventory:before {
    content: "\e947";
}
.icon-iconfont-inventoryAllotment:before {
    content: "\e948";
}
.icon-iconfont-inventoryChange:before {
    content: "\e949";
}
.icon-iconfont-inventoryConfig:before {
    content: "\e94a";
}
.icon-iconfont-inventoryStatistic:before {
    content: "\e94b";
}
.icon-iconfont-inventoryStock:before {
    content: "\e94c";
}
.icon-iconfont-inventoryStockBase:before {
    content: "\e94d";
}
.icon-iconfont-inventoryStockList:before {
    content: "\e94e";
}
.icon-iconfont-inventoryWarning:before {
    content: "\e94f";
}
.icon-iconfont-InvoiceBillListForPrint:before {
    content: "\e950";
}
.icon-iconfont-jiage:before {
    content: "\e951";
}
.icon-iconfont-location:before {
    content: "\e952";
}
.icon-iconfont-log:before {
    content: "\e953";
}
.icon-iconfont-loginLog:before {
    content: "\e954";
}
.icon-iconfont-LogisticsBillListForPrint:before {
    content: "\e955";
}
.icon-iconfont-market:before {
    content: "\e956";
}
.icon-iconfont-mdm:before {
    content: "\e957";
}
.icon-iconfont-messageRecord:before {
    content: "\e958";
}
.icon-iconfont-messageStatistic:before {
    content: "\e959";
}
.icon-iconfont-microSalesPerson:before {
    content: "\e95a";
}
.icon-iconfont-microSalesPersonApply:before {
    content: "\e95b";
}
.icon-iconfont-mobileCustomerCenterMenu:before {
    content: "\e95c";
}
.icon-iconfont-mspShareLog:before {
    content: "\e95d";
}
.icon-iconfont-mspShareTree:before {
    content: "\e95e";
}
.icon-iconfont-offshelf:before {
    content: "\e95f";
}
.icon-iconfont-often:before {
    content: "\e960";
}
.icon-iconfont-operateLog:before {
    content: "\e961";
}
.icon-iconfont-order:before {
    content: "\e962";
}
.icon-iconfont-orderStatistic:before {
    content: "\e963";
}
.icon-iconfont-orderSync:before {
    content: "\e964";
}
.icon-iconfont-organization:before {
    content: "\e965";
}
.icon-iconfont-otherPlatformLogin:before {
    content: "\e966";
}
.icon-iconfont-otherStyle:before {
    content: "\e967";
}
.icon-iconfont-paymentNotice:before {
    content: "\e968";
}
.icon-iconfont-payType:before {
    content: "\e969";
}
.icon-iconfont-PickingBillForPrint:before {
    content: "\e96a";
}
.icon-iconfont-platform:before {
    content: "\e96b";
}
.icon-iconfont-platformBulletin:before {
    content: "\e96c";
}
.icon-iconfont-platformConfig:before {
    content: "\e96d";
}
.icon-iconfont-product:before {
    content: "\e96e";
}
.icon-iconfont-productAptitude:before {
    content: "\e96f";
}
.icon-iconfont-productBrand:before {
    content: "\e970";
}
.icon-iconfont-productBrandType:before {
    content: "\e971";
}
.icon-iconfont-productCategory:before {
    content: "\e972";
}
.icon-iconfont-productExpandField:before {
    content: "\e973";
}
.icon-iconfont-productPackage:before {
    content: "\e974";
}
.icon-iconfont-productTagGroup:before {
    content: "\e975";
}
.icon-iconfont-productUnit:before {
    content: "\e976";
}
.icon-iconfont-promotionRule:before {
    content: "\e977";
}
.icon-iconfont-publish:before {
    content: "\e978";
}
.icon-iconfont-purchaseStatistic:before {
    content: "\e979";
}
.icon-iconfont-quartzLog:before {
    content: "\e97a";
}
.icon-iconfont-quartzTask:before {
    content: "\e97b";
}
.icon-iconfont-resource:before {
    content: "\e97c";
}
.icon-iconfont-returnGoodsBill:before {
    content: "\e97d";
}
.icon-iconfont-returnGoodsType:before {
    content: "\e97e";
}
.icon-iconfont-role:before {
    content: "\e97f";
}
.icon-iconfont-sdpConfig:before {
    content: "\e980";
}
.icon-iconfont-sdpDistributor:before {
    content: "\e981";
}
.icon-iconfont-sdpDistributorApply:before {
    content: "\e982";
}
.icon-iconfont-sdpDistributorLevel:before {
    content: "\e983";
}
.icon-iconfont-sdpFans:before {
    content: "\e984";
}
.icon-iconfont-sdpQrCode:before {
    content: "\e985";
}
.icon-iconfont-sdpQrCodeTag:before {
    content: "\e986";
}
.icon-iconfont-sdpReceivableAccount:before {
    content: "\e987";
}
.icon-iconfont-sdpRetailer:before {
    content: "\e988";
}
.icon-iconfont-sdpRetailerApply:before {
    content: "\e989";
}
.icon-iconfont-sdpSalesPerson:before {
    content: "\e98a";
}
.icon-iconfont-searchKeyWord:before {
    content: "\e98b";
}
.icon-iconfont-second:before {
    content: "\e98c";
}
.icon-iconfont-security:before {
    content: "\e98d";
}
.icon-iconfont-seller:before {
    content: "\e98e";
}
.icon-iconfont-sellerAccount:before {
    content: "\e98f";
}
.icon-iconfont-sellerInformation:before {
    content: "\e990";
}
.icon-iconfont-sellerInformationApply:before {
    content: "\e991";
}
.icon-iconfont-sellerOperator:before {
    content: "\e992";
}
.icon-iconfont-servicePackage:before {
    content: "\e993";
}
.icon-iconfont-settlement:before {
    content: "\e994";
}
.icon-iconfont-settlement-sm:before {
    content: "\e995";
}
.icon-iconfont-shop:before {
    content: "\e996";
}
.icon-iconfont-shoppingCart:before {
    content: "\e997";
}
.icon-iconfont-shopRenovation:before {
    content: "\e998";
}
.icon-iconfont-specification:before {
    content: "\e999";
}
.icon-iconfont-staffSize:before {
    content: "\e99a";
}
.icon-iconfont-statistic:before {
    content: "\e99b";
}
.icon-iconfont-stockIn:before {
    content: "\e99c";
}
.icon-iconfont-stockOut:before {
    content: "\e99d";
}
.icon-iconfont-stockOutAndIn:before {
    content: "\e99e";
}
.icon-iconfont-stockProductNature:before {
    content: "\e99f";
}
.icon-iconfont-supplier:before {
    content: "\e9a0";
}
.icon-iconfont-system:before {
    content: "\e9a1";
}
.icon-iconfont-takeInventoryBill:before {
    content: "\e9a2";
}
.icon-iconfont-task:before {
    content: "\e9a3";
}
.icon-iconfont-template:before {
    content: "\e9a4";
}
.icon-iconfont-templatePath:before {
    content: "\e9a5";
}
.icon-iconfont-tenantCompany:before {
    content: "\e9a6";
}
.icon-iconfont-tenantCompanyApply:before {
    content: "\e9a7";
}
.icon-iconfont-unitGroup:before {
    content: "\e9a8";
}
.icon-iconfont-user:before {
    content: "\e9a9";
}
.icon-iconfont-wareHouse:before {
    content: "\e9aa";
}
.icon-iconfont-wareHouseZone:before {
    content: "\e9ab";
}
.icon-iconfont-webColumn:before {
    content: "\e9ac";
}
.icon-iconfont-workbench:before {
    content: "\e9ad";
}
.icon-iconfont-wx:before {
    content: "\e9ae";
}
.icon-iconfont-wxPayConfig:before {
    content: "\e9af";
}

